{% extends 'base.html' %}

{% block content %}
	<section id="home" class="intro-module module-image heightfull bg-dark-alfa-30">
		<div class="intro">

			<div class="module-header">
				<h2 class="module-title">Error 404</h2>
				<h3 class="module-subtitle">Page not found</h3>
			</div>

			<div class="lead long-up long-down">
				<p>Disculpa por el Error, Esperamos no pierdas el apetitio y puedas seguir ordenando en nuestro Site.<br>verifica la dirección URL puede que haya un error...</p>
			</div>

			<p><a class="btn btn-custom-5" href="{% url 'home' %}"><i class="icon-before fa fa-angle-left"></i> Regresar al Sitio </a></p>

		</div><!-- .intro -->
	</section>

	<!-- Error end -->
{% endblock %}