{% load staticfiles %}
<style>
	{% block style %}
	.input-lg {
	color: #FFC107;
	}

	{% endblock %}
</style>

	<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top" role="navigation">

		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">MariaLaura</a>
			</div>

			<div class="collapse navbar-collapse" id="custom-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="page-scroll"><a href="{%url 'home' %}">Inicio</a></li>
					<li class="page-scroll"><a href="{%url 'home' %}">Nuestra historia</a></li>
					<li class="page-scroll"><a href="{%url 'menu' %}">Nuestros Menus</a></li>
					<li class="page-scroll"><a href="{%url 'home' %}">Servicios</a></li>
					<li class="page-scroll"><a href="{%url 'list' %}">Blog</a></li>
          			<!---- Login ----->
					{% if request.user.is_authenticated %}
          			<li class="page-scroll"><a href='{% url "cart" %}'><i class="fa fa-shopping-cart fa-navbar-cart"></i><span id="cart-count-badge" class='badge'>{{ request.session.cart_item_count }}</span></a></li>
          			<li class="page-scroll"><a href="{% url 'orders' %}">Orders</a></li>
            		<li class="page-scroll"><a href="{% url 'auth_logout' %}">Logout</a></li>
            		{% else %}
					<!-- logout ---->
            		<li class="page-scroll"><a href="{% url 'registration_register' %}">Register</a></li>

					{% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
              		<li class="dropdown">
              		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login</a>
                  	<ul class="dropdown-menu" role="menu">
                      <form class='navbar-form' method='POST' action='{% url "auth_login" %}'>{% csrf_token %}
                        <div class='form-group'>
                            <input type='text' class='form-control input-lg' name='username' placeholder='Username' />
                        </div>
                        <div class='form-group'>
                            <input type='password' class='form-control input-lg' name='password' placeholder='Password' />
                        </div>
                        <button type='submit' class='btn btn-custom-2 btn-block'>Login</button>
                    </form>
                   <p class='text-center'><a href='{% url "auth_password_reset" %}'>Forgot password?</a></p>
                  </ul>
					</li>
                 	{% endif %}

            	{% endif %}
         		 </ul>

					</li>
				</ul>
			</div>

		</div><!-- .container -->

	</nav>
