<p class='lead'>
Order {% if order.order_id %}#{{ order.order_id }} {% endif %} Summary
</p>
<div>
<table class="table table-bordered">
    <thead>
        <th>Cantidad</th>
        <th>Detalle</th>
    </thead>
    <tbody>
    <tr>
        <td>{{ order.cart.cartitem_set.count }} Item(s)</td>
        {% for i in order.cart.cartitem_set.all %}
        <tr>
        <td><li>{{ i.day }} - <span>{{ i.item.get_title }}</span> </li></td>
        <tr>
        {% endfor %}
    </tr>
    <tr>
       <td>

Cart Subtotal: {{ order.cart.subtotal }}
Tax: {{ order.cart.tax_total }}
Items Total: {{ order.cart.total }}
Shipping: {{ order.shipping_total_price }}
Order Total: {{ order.order_total }}
    </td>
</tr>
    </tbody>
</table>


</div>

<div class='col-md-4 col-md-offset-4 text-center'>

<p><b>Billing to</b>
<br/>
{{ order.billing_address.get_address }}
<p>
<p><b>Shipping to</b>
<br/>
{{ order.shipping_address.get_address }}
</p></div>