<!-- Lado izquierdo y primeras opciones -->
<div class="row">
			<div class="col-sm-6">

				<div class="menu">
					<div class="row">
						<div class="col-sm-8">
							<h4 class="menu-title">{{object.mo1}} <input type="checkbox" name="lunes" value="{{object.mo1.id}}"></h4>
							<div class="menu-detail">
							{% if object.mo1.variation_set.count > 1 %}
								{% for var_obj in object.mo1.variation_set.all %}
								  {{var_obj}} /
								{% endfor %}

							{% else  %}
								{{ object.mo1.variation_set.first.title }}
							{% endif %}
							</div>
						</div>
						<div class="col-sm-4 menu-price-detail">
							<h4 class="menu-price">Lunes</h4>

						</div>
					</div>
				</div>

				<div class="menu">
					<div class="row">
						<div class="col-sm-8">
							<h4 class="menu-title">{{object.tu1}} <input type="checkbox" name="martes" value="{{object.tu1.id}}"></h4>

							<div class="menu-detail">
							{% if object.tu1.variation_set.count > 1 %}
								{% for var_obj in object.tu1.variation_set.all %}
									{{var_obj}} /
								{% endfor %}

							{% else  %}
								{{ object.mo1.variation_set.first.title }}
							{% endif %}
							</div>
						</div>
						<div class="col-sm-4 menu-price-detail">
							<h4 class="menu-price">Martes</h4>

						</div>
					</div>
				</div>

				<div class="menu">
					<div class="row">
						<div class="col-sm-8">
							<h4 class="menu-title">{{object.we1}} <input type="checkbox" name="miercoles" value="{{object.we1.id}}"></h4>

							<div class="menu-detail">
							{% if object.we1.variation_set.count > 1 %}
								{% for var_obj in object.we1.variation_set.all %}
									{{var_obj}} /
								{% endfor %}

							{% else  %}
								{{ object.we1.variation_set.first.title }}
							{% endif %}
							</div>
						</div>
						<div class="col-sm-4 menu-price-detail">
							<h4 class="menu-price">Miercoles</h4>

						</div>
					</div>
				</div>

				<div class="menu">
					<div class="row">
						<div class="col-sm-8">
							<h4 class="menu-title">{{object.th1}} <input type="checkbox" name="jueves" value="{{object.th1.id}}"></h4>

							<div class="menu-detail">
							{% if object.th1.variation_set.count > 1 %}
								{% for var_obj in object.tu1.variation_set.all %}
									{{var_obj}} /
								{% endfor %}

							{% else  %}
								{{ object.th1.variation_set.first.title }}
							{% endif %}
							</div>
						</div>
						<div class="col-sm-4 menu-price-detail">
							<h4 class="menu-price">Jueves</h4>

						</div>
					</div>
				</div>

				<div class="menu">
					<div class="row">
						<div class="col-sm-8">
							<h4 class="menu-title">{{object.fr1}}<input type="checkbox" name="viernes" value="{{object.fr1.id}}"></h4>

							<div class="menu-detail">
							{% if object.fr1.variation_set.count > 1 %}
								{% for var_obj in object.tu1.variation_set.all %}
									{{var_obj}} /
								{% endfor %}

							{% else  %}
								{{ object.fr1.variation_set.first.title }}
							{% endif %}
							</div>
						</div>
						<div class="col-sm-4 menu-price-detail">
							<h4 class="menu-price">Viernes</h4>

						</div>
					</div>
				</div>

			</div><!-- .col-sm-6 -->

<!-- Lado Derecho y segunda opciones -->

						<div class="col-sm-6">

				<div class="menu">
					<div class="row">
						<div class="col-sm-8">
							<h4 class="menu-title">{{object.mo2}}<input type="checkbox" name="lunes" value="{{object.mo2.id}}"></h4>

							<div class="menu-detail">
							{% if object.mo2.variation_set.count > 1 %}
								{% for var_obj in object.mo1.variation_set.all %}
									{{var_obj}} /
								{% endfor %}

							{% else  %}
								{{ object.mo2.variation_set.first.title }}
							{% endif %}
							</div>
						</div>
						<div class="col-sm-4 menu-price-detail">
							<h4 class="menu-price">Lunes</h4>

						</div>
					</div>
				</div>

				<div class="menu">
					<div class="row">
						<div class="col-sm-8">
							<h4 class="menu-title">{{object.tu2}} <input type="checkbox" name="martes" value="{{object.tu2.id}}"></h4>

							<div class="menu-detail">
							{% if object.tu2.variation_set.count > 1 %}
								{% for var_obj in object.tu2.variation_set.all %}
									{{var_obj}} /
								{% endfor %}

							{% else  %}
								{{ object.tu1.variation_set.first.title }}
							{% endif %}
							</div>
						</div>
						<div class="col-sm-4 menu-price-detail">
							<h4 class="menu-price">Martes</h4>

						</div>
					</div>
				</div>

				<div class="menu">
					<div class="row">
						<div class="col-sm-8">
							<h4 class="menu-title">{{object.we2}} <input type="checkbox" name="miercoles" value="{{object.we2.id}}"></h4>

							<div class="menu-detail">
							{% if object.we2.variation_set.count > 1 %}
								{% for var_obj in object.we2.variation_set.all %}
									{{var_obj}} /
								{% endfor %}

							{% else  %}
								{{ object.we2.variation_set.first.title }}
							{% endif %}
							</div>
						</div>
						<div class="col-sm-4 menu-price-detail">
							<h4 class="menu-price">Miercoles</h4>

						</div>
					</div>
				</div>

				<div class="menu">
					<div class="row">
						<div class="col-sm-8">
							<h4 class="menu-title">{{object.th2}}<input type="checkbox" name="jueves" value="{{object.th2.id}}"></h4>

							<div class="menu-detail">
							{% if object.th2.variation_set.count > 1 %}
								{% for var_obj in object.th2.variation_set.all %}
									{{var_obj}} /
								{% endfor %}

							{% else  %}
								{{ object.th2.variation_set.first.title }}
							{% endif %}
							</div>
						</div>
						<div class="col-sm-4 menu-price-detail">
							<h4 class="menu-price">Jueves</h4>

						</div>
					</div>
				</div>

				<div class="menu">
					<div class="row">
						<div class="col-sm-8">
							<h4 class="menu-title">{{object.fr2}} <input type="checkbox" name="viernes" value="{{object.fr2.id}}"></h4>

							<div class="menu-detail">
							{% if object.fr2.variation_set.count > 1 %}
								{% for var_obj in object.fr2.variation_set.all %}
									{{var_obj}} /
								{% endfor %}

							{% else  %}
								{{ object.fr2.variation_set.first.title }}
							{% endif %}
							</div>
						</div>
						<div class="col-sm-4 menu-price-detail">
							<h4 class="menu-price">Viernes</h4>

						</div>
					</div>
				</div>

			</div><!-- .col-sm-6 -->
	</div><!-- .row -->

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 long-up text-center">
			<a href="" class="btn btn-custom-1">Ordenar ya </a>
		</div>
	</div><!-- .row -->